<div class="card cardstyle " matRipple
[matRippleRadius]="220" >
    <!--begin::Body-->
    <div class="card-body d-flex flex-column flex-center py-5">
        <!--begin::Heading-->
        <div class="mb-2 h-100">
            <!--begin::Title-->
            <h1 class="mb-0 h-25 fw-bold text-gray-800 text-center lh-lg">{{title}}
           <!-- <br />new 
            <span class="fw-boldest">Invoice Manager?</span>
       
            end::Title--> </h1>
            <!--begin::Illustration-->
            <div class="h-50 flex-grow-1 bgi-no-repeat bgi-size-contain bgi-position-x-center card-rounded-bottom" 
            [ngClass]="logo"
           ></div>
            <div class="text-center h-25 pt-3">

                <a *ngIf="title==='Services'" (click)="open(Service)"  class="btn btn-sm btn-primary me-2" data-bs-target="#kt_modal_new_address" 
                 data-bs-toggle="modal">Lancement</a>
                 <a *ngIf="title==='Reclamation'" (click)="open(Reclamation)"  class="btn btn-sm btn-primary me-2" data-bs-target="#kt_modal_new_address" 
                 data-bs-toggle="modal">Lancement</a>
            </div>
            <!--end::Links-->
        </div>
        <!--end::Body-->
    </div>
    <!--end::Engage widget 1-->
</div>

<ng-template #Service let-modal>
<app-addlandingservice (closeEvent)="close()"></app-addlandingservice>
  </ng-template>
  <ng-template #Reclamation let-modal>
<app-addlandingreclamation (closeEvent)="close()"></app-addlandingreclamation>
  </ng-template>