<div class="d-flex justify-content-center align-items-center" style="height:100vh">


<div class="container-fluid py-10 card card-custom wrapper" style="background: #f2f6f7; padding-left: 5%;
padding-right: 5%;" >
   <!-- <div class="row">
      
      <div *ngIf="notification"  class="col-12 mb-7 mb-lg-0">
        
        <app-date-picker-widget></app-date-picker-widget>
        
      </div>
  
    </div>
  
    <div class="row">
  
      <div *ngIf="notification" class="col-12">
      
        <app-tiles-widget-nav-bar></app-tiles-widget-nav-bar>
  
      </div>
  
    </div>-->
    <!--<div class="container-fluid">
    <div class="row">
      <div class="col-12">  -->

          <div  @fade  class="row py-10" style="background: #f2f6f7;"  >
           <div class="col-md-12">
             <div  class="row" >
              <div class="col-md-6  col-lg-4 container pb-10">

                       <app-enquete-qtv></app-enquete-qtv>
      
            </div>
            <div class="col-md-6 col-lg-4 container pb-10 ">
                <app-enquete-rps></app-enquete-rps>
       
      
            </div>
            <div  
       
            class="col-md-6 col-lg-4 container pb-10">
                <app-enquetepersonnalisable></app-enquetepersonnalisable>

              
            
            </div>
            <div class="col-md-6 col-lg-4 container pb-10">
    
              <!-- <app-tiles-day-state></app-tiles-day-state> -->
              <!-- <app-tiles-general-widget></app-tiles-general-widget> -->
              <app-analysemessagerie></app-analysemessagerie>

            </div>
    
            <div class="col-md-6 col-lg-4 container pb-10">
             
                <app-vueentreprise></app-vueentreprise>

            </div>
            <div class="col-md-6 col-lg-4 container pb-10 ">
    
                <app-portaildeclaratif></app-portaildeclaratif>

            </div>
    </div>
  </div>
</div>
<!--</div>




      </div> 
    </div>-->
  </div>
</div>
