	<!--begin::Root-->
    <div  style="overflow:hidden" class="  d-flex flex-column flex-root">
        <!--begin::Header Section-->
        <div class="mb-0" id="home">
            <!--begin::Wrapper-->
            <div class="bgi-no-repeat bgi-size-contain bgi-position-x-center bgi-position-y-bottom landing-dark-bg" style="background-image: url(assets/media/svg/illustrations/landing.svg)">
                <!--begin::Header-->
                <div class="landing-header" data-kt-sticky="true" data-kt-sticky-name="landing-header" data-kt-sticky-offset="{default: '200px', lg: '300px'}">
                    <!--begin::Container-->
                    <div class="container pt-5">
                        <!--begin::Wrapper-->
                        <div class="d-flex align-items-center justify-content-between">
                            <!--begin::Logo-->
                            <div class="d-flex align-items-center flex-equal">
                                <!--begin::Mobile menu toggle-->
                                <button class="btn btn-icon btn-active-color-primary me-3 d-flex d-lg-none" id="kt_landing_menu_toggle">
                                    <!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
                               
                                    <!--end::Svg Icon-->
                                </button>
                                <!--end::Mobile menu toggle-->
                                <!--begin::Logo image
                                <a href="">
                                    <img alt="Logo" src="assets/media/logos/logo-landing.svg" class="logo-default h-25px h-lg-30px" />
                                    <img alt="Logo" src="assets/media/logos/logo-landing-dark.svg" class="logo-sticky h-20px h-lg-25px" />
                                </a>-->
                                <a style="margin-left: -10px; max-height: 45px;overflow: hidden;" class="d-flex flex-row" >
                                  <!-- <img alt="Logo" src="assets/media/logos/fichier7_logo_tab_new.png" class="h-40px logo" />-->
                                   <img alt="Logo" src="../../../assets/media/logos/logo-2.svg" class="h-45px" />
                                   <h1 style="color: white;
                                   margin: 0 10px;
                                   align-self: center;">Municipalité</h1>
                               </a>
                                <!--end::Logo image-->
                            </div>
                            <!--end::Logo-->
                            <!--begin::Menu wrapper-->
                          
                            <!--end::Menu wrapper-->
                            <!--begin::Toolbar-->
                            <div class="flex-equal text-end ms-1">
                                <a routerLink="/auth/login" class="btn btn-success">Sign In</a>
                            </div>
                            <!--end::Toolbar-->
                        </div>
                        <!--end::Wrapper-->
                       
                    </div>
                    
                    <!--end::Container-->
                </div>
                <!--start cards -->

                <div  @fade  class="row pt-5 pb-20 px-10" style="background: #f2f6f7;"  >
                  <div class="col-md-12">
                  	<div class="card">
                      <div class="card-px text-center pt-5 pb-15 "style="background: #f2f6f7;">
                          <!--begin::Title-->
                          <h2 class="fs-2x fw-bolder mb-0">welcome</h2>
                          <!--end::Title-->
                          <!--begin::Description-->
                          <p class="text-gray-400 fs-4 fw-bold py-7">MicroService Municipalité
                          <br /></p>
                          <!--end::Description-->
                          <!--begin::Action-->
                          <!--end::Action-->
                        </div>
                      <!--begin::Card body-->
                      <div class="card-body containerstyle" style="background: #f2f6f7; ">
                        <!--begin::Heading-->
                        
                        <!--end::Heading-->
                       
                            
                           
                        <div  class="row overlay" >
                          <div class="col-md-4  col-lg-4 container pb-10">
       
                            <app-dashboardcard [title]="'Services'" [logo]="'checklist'" ></app-dashboardcard>               
                        </div>
                        <div class="col-md-4  col-lg-4 container pb-10 ">
                          <app-dashboardcard [title]="'Reclamation'" [logo]="'reclamation'" ></app-dashboardcard>           
          
                        </div>
                     <!--   <div  
                   
                        class="col-md-6 col-lg-4 container pb-10">
                            <app-enquetepersonnalisable></app-enquetepersonnalisable>
            
                          
                        
                        </div>
                        <div class="col-md-6 col-lg-4 container pb-10">
                
                        
                          <app-analysemessagerie></app-analysemessagerie>
            
                        </div>
                
                        <div class="col-md-6 col-lg-4 container pb-10">
                         
                            <app-vueentreprise></app-vueentreprise>
            
                        </div>
                        <div class="col-md-6 col-lg-4 container pb-10 ">
                
                            <app-portaildeclaratif></app-portaildeclaratif>
            
                        </div>-->
                    
                      </div>
                        <!--begin::Illustration-->
                       
                        <div class="text-center  contentstyle">
                          <img src="../../../assets/media/illustrations/sketchy-1/2.png" alt="" class="mw-100 h-200px h-sm-300px" />
                        </div>
                        <!--end::Illustration-->
                      </div>
                      <!--end::Card body-->
                    </div>
               
         </div>
       </div>
       <!-- end cards-->
              </div></div></div>
<!--///////////////////////////////////////////////////////////////////////////////////////-->
<!--<div class="container-fluid"  >
    <div> 
          <div  class="row" style="padding-top: 1%;"  >
            <div class="col-md-12">
              <div  class="row" >
              <div class="col-md-6 col-lg-4 container"  style="background-color: #e1eef5;">
                <div style="text-align:center">
                    <apx-chart
                    #chart
                      [series]="chartOptions.series"
                      [chart]="chartOptions.chart" 
                      [xaxis]="chartOptions.xaxis"
                      [title]="chartOptions.title"
                    ></apx-chart>
                  </div>
        
              </div>
              <div class="col-md-6 col-lg-4 container" style="background-color: #e1eef5;">    
               
                <div style="text-align:center;    width: 400px !important;
                height: 400px !important" >
                  <apx-chart
                  #chart2
                    [series]="chartOptions2.series"
                    [chart]="chartOptions2.chart"
                    [xaxis]="chartOptions2.xaxis"
                    [title]="chartOptions2.title"
                  ></apx-chart>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 container"  style="background-color: #e1eef5;">        
                <div style="text-align:center;    width: 400px !important;
                height: 400px !important;" >
                  <apx-chart
                  #chart3
                    [series]="chartOptions3.series"
                    [chart]="chartOptions3.chart"
                    [xaxis]="chartOptions3.xaxis"
                    [title]="chartOptions3.title"
                  ></apx-chart>
                </div>
        
              </div>
              <div class="col-md-4 container">
      
              
              </div>
              <div class="col-md-4 container">  
              
              </div>
              <div class="col-md-4 container ">  
              
              </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
   
    </div>  
    <div class="col-md-12">
     
    </div>
    <div class="col-md-12">
     
    </div>
  
    <div class="col-md-12">
     
    </div>
  </div>
  </div>
  
  
  </div>-->
  






               
                
  