<div class="w-lg-500px p-10 p-lg-15 mx-auto">
    <!--begin::Form-->
    <form (ngSubmit)="submit()"
    [formGroup]="resetpassForm" class="form w-100" novalidate="novalidate" id="kt_password_reset_form">
        <!--begin::Heading-->
        <div class="text-center mb-10">
            <!--begin::Title-->
            <h1 class="text-dark mb-3">Reset Password </h1>
            <!--end::Title-->
            <!--begin::Link-->
            <div class="text-gray-400 fw-bold fs-4"></div>
            <!--end::Link-->
        </div>
        <!--begin::Heading-->
        <!--begin::Input group-->
        <div class="mb-10 fv-row" data-kt-password-meter="true">
            <!--begin::Wrapper-->
            <div class="mb-1">
                <!--begin::Label-->
                <label class="form-label fw-bolder text-dark fs-6">Password</label>
                <!--end::Label-->
                <!--begin::Input wrapper
                <div class="position-relative mb-3">
                    <input class="form-control form-control-lg form-control-solid"
                     type="password" placeholder="" 
                    name="password" autocomplete="off"
                    formControlName="password"
                    />
                    <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                        <i class="bi bi-eye-slash fs-2"></i>
                        <i class="bi bi-eye fs-2 d-none"></i>
                    </span>
                </div>-->
             <br>
           
           
                <mat-slide-toggle (click)="changeshowDetails()">show password details</mat-slide-toggle>
            
  <br>      
               <mat-form-field class="pt-5" appearance="outline" style="width: 100%" [color]="passwordComponent.color">
                    <mat-label>Password</mat-label>
                    <input matInput #password
                    formControlName="password"
                           [type]="hide ? 'password' : 'text'"
                           name="password"
                           required
                           placeholder="">
                           <span (click)="hide = !hide" class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                            <i *ngIf="hide" class="bi bi-eye-slash fs-2"></i>
                       <i *ngIf="!hide" class="bi bi-eye fs-2 "></i>
                        </span>
                         </mat-form-field>
                    <mat-hint  aria-live="polite">
                      {{password.value.length}} / {{passwordComponent.max}}
                    </mat-hint>         
                  <mat-password-strength #passwordComponent
                                         (onStrengthChanged)="onStrengthChanged($event)"
                                         [password]="password.value">
                  </mat-password-strength>     
                  <mat-password-strength-info
                    *ngIf="showDetails"
                    [passwordComponent]="passwordComponent">
                  </mat-password-strength-info>
            </div> 
            <div class="text-muted">Use 8 or more characters with a mix of letters, numbers &amp; symbols.</div>
        </div> 
        <mat-form-field appearance="outline" style="width: 100%" [color]="passwordComponent.color">
            <mat-label>Confirm Password</mat-label>
            <input matInput #cPassword
            formControlName="cPassword"
                   [type]="hide2 ? 'password' : 'text'"
                   name="cPassword"
                   required
                   placeholder="">
                   <span (click)="hide2 = !hide2" class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2" data-kt-password-meter-control="visibility">
                    <i *ngIf="hide2" class="bi bi-eye-slash fs-2"></i>
                    <i *ngIf="!hide2" class="bi bi-eye fs-2 "></i>
                </span>
                 </mat-form-field>

        <!--end::Input group-->
        <!--begin::Actions-->
        <div class="d-flex flex-wrap justify-content-center pb-lg-0">
            <button 
            
            [ngClass]="{'btn-success': resetpassForm.valid, 'btn-danger': resetpassForm.invalid}"
            [disabled]="resetpassForm.invalid"
            type="submit" id="kt_password_reset_submit" class="btn btn-lg btn-primary  me-4">
                <span class="indicator-label">Submit</span>
                <span class="indicator-progress">Please wait... 
                <span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
            </button>
            <a routerLink="/auth/login" class="btn btn-lg btn-light-primary ">Cancel</a>
        </div>
        <!--end::Actions-->
    </form>
    <!--end::Form-->
</div>

