<div class="container-fluid">
    <div class="row">
        <div class="col-lx-12 col-xxl-12">
            <div @fade class="row justify-content-md-center">
                <div class="col-sm-12 col-md-6 col-lg-4 pb-5">
                    <app-homepagecard [title]="'Utilisateurs'" [icon]="'users'" [link]="'/pages/users'" [link1]="'/pages/users'"
                    [link2]="'/pages/users'"></app-homepagecard>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 pb-5">
                    <app-homepagecard [title]="'Municipalité'" [icon]="'municipalite'" [link]="'/pages/municipalite'" [link1]="'/pages/municipalite'"
                    [link2]="'/pages/municipalite'"></app-homepagecard>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 pb-5">
                    <app-homepagecard  [title]="'Citoyen'" [icon]="'citoyen'" [link]="'/pages/citoyen'" [link1]="'/pages/citoyen'"
                    [link2]="'/pages/citoyen'"
                    ></app-homepagecard>                                 
                </div>
            
                <div class="col-sm-12 col-md-6 col-lg-4 pb-5">   
                    <app-homepagecard   [title]="'Services'" [icon]="'checklist'" [link]="'/pages/services'" [link1]="'/pages/services'"
                    [link2]="'/pages/services'"></app-homepagecard>               
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4 pb-5">  
                    <app-homepagecard [title]="'Reclamation'" [icon]="'reclamation'" [link]="'/pages/reclamation'"
                    [link2]="'/pages/reclamation'"></app-homepagecard>           
                </div>
          
            </div>
        </div>
    </div>
    </div>
